[Desktop Entry]
Encoding=UTF-8
Name=Lien vers P1290852
Type=Link
URL=https://i2.wp.com/gamal.fr/wp-content/uploads/2015/09/P1290852.jpg?resize=1024%2C768
Icon=image-jpeg
Name[fr_FR]=gamal.jpg
